<ion-view view-title="Detalhes de {{pokemon.name}}">
  <ion-content>

      <div class="list">

          <span class="item item-thumbnail-left" href="#">
              <img ng-src="{{sprite}}" alt="{{pokemon.name}}">
              <h2>{{ pokemon.name }}</h2>
              <p>Ataque: {{ pokemon.attack }}</p>
              <p>Defesa: {{ pokemon.defense }}</p>
              <p>HP: {{ pokemon.hp }}</p>
              <p>Altura: {{ pokemon.height }}</p>
              <p>Velocidade: {{ pokemon.speed }}</p>

              <br>

              <h2>Tipo ({{pokemon.types.length}})</h2>
              <p>
                <span ng-repeat="type in pokemon.types">
                  {{type.name}}{{$last ? '' : ' / '}}
                </span>
              </p>

              <br>

              <h2 ng-click="showEvolutions()">Evolução ({{pokemon.evolutions.length}})</h2>
              <p ng-if="showEvolution">
                  <span ng-repeat="evolution in pokemon.evolutions">
                      <a href="#/app{{ evolution.resource_uri }}"> {{evolution.to}}</a> <br>
                  </span>
              </p>

          </span>

      </div>

  </ion-content>
</ion-view>
